<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ELITHICA EXAMPLE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="css/themes/sandstone/bootstrap.css" id="bootstrapTheme" media="all">
    <link rel="stylesheet" type="text/css" href="css/fontawesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/global.css" media="all">
    <link rel="icon" type="image/ico" href="img/logo/elithica-favicon-16x16.png">
    <base href="elithica">
  </head>
  <!--
    All front-end loading is sent through a component called body
    See js/app/comps/body to see the component nesting therein.
  -->


  <body>

    <div data-bind="component: { name: 'body' }"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

  <section data-bind="component: { name: 'footer' }"></section>

  <script type="text/javascript" data-main="js/app/sys/config/init/init.js" src="js/require.js"></script>

  <script type="text/javascript">
    //Template Variable from the server. See bodyVM.js for info on usage inside modules.
    //var template_title='${template_vars.title}';
    //console.log(template_title);

    //Object example:
    var templateObj={
      title:'${template_vars.title}',
      version:'${template_vars.version}',
      rdir:'${template_vars.rdir}'

    }


  </script>

  </body>
</html>
